html {
	font-family: Helvetica;
}
body {
	background-color:rgb(72,72,72);
}
fieldset {
	background-color: #FFF;
	margin: 40px 60px 40px 60px;
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	border: none;
}
h1 {
	text-shadow:2px 2px black;
	color: #FFF;
}
h3 {
	color:#484848;
	display: block;
	width: 400px;
	padding: 8px;
	font-size: 1.4em;
}
table, th, td {
	border: 1px solid #484848;
	border-collapse:collapse;
}
th, td {
	padding: 5px;
	text-align-left;
}
a {
	text-decoration: underline;
	color:#349F81;
	padding: 8px;
	
}
p {
	color: white;
}

#container {
	background-color:#FFF;
	margin: 20px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
}

#container img{
	float: right;
}
